html { 
  background: url(images/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
    margin-top: 300px;
    background: none; 
}

html body {
    background: none;
    background-color: rgba(0,0,0,.2);
}

html,body{
    height: 100%
}


html body h1 {
    color: floralwhite;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 450%;
    text-shadow: 2px 2px black;
   
}

html body div p {
    color: black;
}

#mission {
  margin: 30px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  font-size: 20px;
  /*border: 1px solid #818181;*/
  /*opacity:0.6;*/
  /*filter:alpha(opacity=60);*/ /* For IE8 and earlier */
}*/

body #mc_embed_signup {
  margin: 100px;
  background: none;
  clear: left;
  font: 14px 'Permanent Marker', Helvetica, Arial, sans-serif;
    
  text-align: center;
  width: 350px;
  margin: 0 auto;
}
/* MailChimp Form Embed Code - Slim */


body #email-text {
  text-shadow: 1px 1px black;
  font-size: 110%;
}

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: center;
  padding: 10px 0 10px 3%;
}
#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}

#mc_embed_signup input {
  border: 1px solid #ababab;
  -webkit-appearance: none;
}

#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox;
}

#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio;
}

#mc_embed_signup input:focus {
  border-color: #799877;
}

body #mc_embed_signup .button {
  display: block;
  position: relative;
  width: 100% !important;
  background-color: #266080;
  padding: 0;
  margin: 0 auto;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  width: 140px;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

body #mc_embed_signup .button:hover {
  background-color: #FF7F00;
}

#mc_embed_signup .button:active {
  top: 2px;
  border-bottom-width: 1px;
}

#mc_embed_signup .small-meta {
  font-size: 11px;
}

#mc_embed_signup .nowrap {
  white-space: nowrap;
}

#mc_embed_signup .clear {
  clear: none;
  display: inline;
}
#mc_embed_signup label {
  display: block;
  font-size: 13px
  padding-bottom: 7px;
  color: mintcream;
  font-weight: italic;
}
body #mc_embed_signup input.email {
  display: block;
  padding: 8px 4px;
  margin: 0 4% 10px 0;
  text-indent: 5px;
  color: #818181;
  font-size: 1.0em;
  background: #fff;
  font-weight: bold;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
#mc_embed_signup input.email:focus {
  color: #666;
}
#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
#mc_embed_signup #mce-error-response {
  display: none;
}
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}


/* Footer */

/* Sourced from: http://demo.tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/footer-distributed.html */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 13px sans-serif;
	padding: 1px 5px 5px 5px;
	margin-top: 1px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 13px;
	margin: 0;
    
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:13px;
	color:  #C0C0C0;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
    background-color:  #33383b;
	border-radius: 2px;

	font-size: 13px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}




/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.0;
	}
}


/* footer styling? */


.footer-left p a.active{
	background-color: #66B650;
	pointer-events: none;
}

 .footer-left p a:hover {
	color: #266080;
}


/* In our demo, the footers are fixed to the bottom of the page */

html body footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
